*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: bodyContent;
  src: url("ProximaNova-Regular.otf");
}
@font-face {
  font-family: headerContent;
  src: url("Ubuntu-Regular.ttf");
}
body {
  transition: all 0.25s;
  background: #9d9d9d;
  width: 100%;
}
.content {
  transition: all 1s;
  width: 100%;
}
.indent {
  height: 100%;
  margin-left: 1em;
}
.cardHolder {
  display: table;
  margin-bottom: 1em;
}
.card {
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #fff;
  box-shadow: 2px 2px 1px #59595b;
  width: 600px;
}
.makeACard {
  padding: 1em;
  padding-bottom: 0em;
  margin-right: 1em;
  background-color: #fff;
  box-shadow: 2px 2px 1px #59595b;
}
.specificCard {
  padding: 1em;
  padding-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 2px 2px 1px #59595b;
  width: 1000px;
}
.spacer {
  height: 1em;
}
.point {
  transition: all 0.25s;
  font-family: bodyContent;
  font-size: 1em;
  color: #59595b;
  line-height: 120%;
  min-height: 1em;
}
.tiny {
  transition: all 0.25s;
  font-family: bodyContent;
  font-size: 0.75em;
  color: #000;
  line-height: 120%;
  min-height: 0.75em;
}
.exit {
  transition: all 0.25s;
  font-family: bodyContent;
  font-size: 1em;
  color: #59595b;
  line-height: 120%;
  min-height: 2em;
  font-weight: bold;
  text-decoration: none;
}
.exit:hover {
  font-family: bodyContent;
  font-size: 1em;
  color: #bdd530;
  line-height: 120%;
}
.title {
  transition: all 0.25s;
  font-family: headerContent;
  font-size: 1.1em;
  color: #59595b;
  line-height: 120%;
}
.header {
  transition: all 0.25s;
  font-weight: bold;
  font-family: headerContent;
  font-size: 2em;
  color: #59595b;
  line-height: 120%;
}
.header.button {
  text-decoration: none;
}
.header.button:hover {
  font-family: headerContent;
  font-size: 2em;
  color: #bdd530;
  line-height: 120%;
}
.header.hilight {
  font-family: headerContent;
  font-size: 2em;
  color: #9d9d9d;
  line-height: 120%;
}
.bigInput {
  transition: all 0.5s;
  padding-left: 1em;
  font-family: headerContent;
  font-size: 2em;
  color: #000;
  line-height: 120%;
  background: #fff;
  margin-bottom: 0.5em;
  border-style: dotted;
  border-color: #fff;
  border-width: 1px;
  outline: none;
}
.input {
  transition: all 0.5s;
  padding-left: 1em;
  font-family: bodyContent;
  font-size: 1em;
  color: #000;
  line-height: 120%;
  background: #fff;
  border-style: dotted;
  border-width: 1px;
  width: 185px;
  height: 2em;
  margin-bottom: 0.5em;
  border-color: #9d9d9d;
  outline: none;
  width: 100%;
}
.inputArea {
  width: 100%;
  font-family: bodyContent;
  font-size: 1em;
  color: #000;
  line-height: 120%;
  background: #fff;
  padding: 1em;
  border-style: dotted;
  border-color: #9d9d9d;
  border-width: 1px;
  outline: none;
}
.submit {
  transition: all 0.25s;
  font-family: bodyContent;
  font-size: 1em;
  color: #000;
  line-height: 120%;
  background: #9d9d9d;
  text-decoration: none;
  width: 185px;
  height: 2em;
  margin-bottom: 0.5em;
  border-color: #9d9d9d;
  outline: none;
  border: none;
  cursor: pointer;
}
.submit.void {
  background: #fff;
  border: solid;
  border-width: 2px;
  border-color: #9d9d9d;
  font-family: bodyContent;
  font-size: 1em;
  color: #9d9d9d;
  line-height: 120%;
}
.submit.void:hover {
  font-family: bodyContent;
  font-size: 1em;
  color: #9d9d9d;
  line-height: 120%;
  background-color: #fff;
}
.submit:hover {
  font-family: bodyContent;
  font-size: 1em;
  color: #bdd530;
  line-height: 120%;
  background: #59595b;
}
.tag {
  transition: all 0.25s;
  font-family: bodyContent;
  font-size: 1em;
  color: #000;
  line-height: 120%;
  background: #9d9d9d;
  text-decoration: none;
  margin-bottom: 0.5em;
  outline: none;
  width: auto;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.tag:hover {
  font-family: bodyContent;
  font-size: 1em;
  color: #bdd530;
  line-height: 120%;
  background: #59595b;
}
::-webkit-input-placeholder {
  color: #9d9d9d;
}
:-moz-placeholder {
  color: #9d9d9d;
  opacity: 1;
}
::-moz-placeholder {
  color: #9d9d9d;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #9d9d9d;
}
